In [1]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2021)
myTuple=("NPower","JDA","Tuesday",30,3,2021)
myTuple
print(myTuple)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [2]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [3]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [4]:
#Q4 print the values in each index #Use regular indexing 
print(myTuple[0], myTuple[1], myTuple[2],"....", myTuple[5])

NPower JDA Tuesday .... 2021

In [5]:
#Q5 print the values in each index #Use negative indexing 
print(myTuple[-1], myTuple[-2], myTuple[-6])

2021 3 NPower

In [6]:
#Q6 what is the type of each value
print(type(myTuple[0]),"\n",type(myTuple[1]),"\n",type(myTuple[3]))

<class 'str'>
 <class 'str'>
 <class 'int'>

In [7]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year accordingly 
# print the variables 

name,program,dayName,month,day,year=myTuple

print("name is",name)
print("program is",program)
print("Day name",dayName)
print("month",month)
print("Day",day)
print("year",year)

name is NPower
program is JDA
Day name Tuesday
month 30
Day 3
year 2021

In [8]:
#Q8 unpack myTuple2 in the follwoeing variablesname,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
myTuple2=("Jerry",2,89)
name,program,dayName=myTuple2

print("name is",name)
print("program is",program)
print("Day name",dayName)
print("month",month)
print("Day",day)
print("year",year)

name is Jerry
program is 2
Day name 89
month 30
Day 3
year 2021

In [9]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements 
Tuple2=("Ulan")#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'str'>
Ulan
Leul

In [10]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and holding different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [11]:
#Q9 Reverse myTuple, output should looks like ("NPower","JDA","Tuesday",30,3,2021)

myTuple=myTuple[::-1]
print(myTuple)

#Another way
myTuple=tuple(reversed(myTuple))
print(myTuple)

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')
('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [12]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [13]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [14]:
#Q12 print each element in the nestedTuple

# Printing the elements of the first tuple
print("**Elements of the first tuple**")
print(nestedTuple[0])
print(nestedTuple[0][0])
print(nestedTuple[0][1])
print(nestedTuple[0][2])

#print(nestedTuple[0][3])  # ERROR tuple index out of range

#Printing the elements of the SECOND tuple
print("\n**Elements of the second tuple**")
print(nestedTuple[1])
print(nestedTuple[1][0])
print(nestedTuple[1][1])

#Printing the elements of the sub-tuple in the SECOND tuple
print("\n**Elements of the sub-tuple in the SECOND tuple**")
print(nestedTuple[1][1][0]) 
print(nestedTuple[1][1][1])
print(nestedTuple[1][1][2])

**Elements of the first tuple**
('Coursera', 'course', 6)
Coursera
course
6

**Elements of the second tuple**
('week', (2, 'Lists', 'Tuple'))
week
(2, 'Lists', 'Tuple')

**Elements of the sub-tuple in the SECOND tuple**
2
Lists
Tuple

In [15]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [16]:
#Q14 Access "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [17]:
#Q15 Access "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [18]:
#Q16 Access "course" from nestedTuple
nestedTuple[0][1]

'course'

In [19]:
#Q17 Concatenate myTuple with nestedTuple

myTuple=myTuple+nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [20]:
#Q18 add your name to the tuple

myTuple=myTuple+(("Mara"),)
# OR
myTuple=myTuple+("Sarah",)

myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Mara',
 'Sarah')

In [21]:
#Q19 check whether Coursera exists within a myTuple
'Coursera' in myTuple

# NOTE in doesn't work properly with nested tuples # Wrong output

False

In [22]:
#Q20 check whether an element exists within a testTuple

testTuple=(1,2,33,55,6,55)
print(9 in testTuple)
print(33 in testTuple)

False
True

In [23]:
#Q21 Find the index of JDA in myTuple

myTuple
print(myTuple.index("JDA"))

# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output

1

In [24]:
#Q22 print index 8 from myTuple
myTuple[8]

'Mara'

In [ ]:
#Q23 Get the 4th element and 4th element from last of a myTuple

In [ ]:
#Q24 Find how many times 27 appeared in the tuple [Hint: Use method count()]